
/* ----------------- Colors from coolors.co ---------------- */
:root{
	--independence: #4E4C67;
	--rose-dust: #985F6F;
	--english-lavender: #B4869F;
	--maximum-blue-purple: #A6B1E1;
	--languid-lavender: #DCD6F7;

	--palatinate-purple: #59114D;
	--fulvous: #E98A15;
	--magnolia: #ECE5F0;
	--rich-black: #003B36;
	--phthalo-green: #012622;

	--burnt-sienna: #EE6C4D;
	--middle-red: #F38D68;
	--rebecca-purple: #662C91 ;
	--persian-green: #17A398 ;
	--jet: #33312E;
	--jet-shadow: rgba(51, 49, 46, 0.6);




}

body{
	background-color: var(--persian-green);	
	font-family: 'Bakbak One', cursive;
	margin:0;
	padding: 0px;
}

main{
	padding: 8px;
}

h3 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 16px;	
}

.title{
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--magnolia);
}

img {
	width: 60px;
	height: auto;
		

}

.directions{
	display: inline-block;
	background-color: var(--palatinate-purple);
	color: var(--fulvous);
	position: absolute;
	top: 25%;
	left: 40%;
	z-index: 10;
	padding: 20px 30px;
	width: fit-content;
	transition: 0.2s ease-in-out;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0px 7px 7px var(--jet-shadow);
}

.close-directions{
	background-color: var(--fulvous);
	color: var(--palatinate-purple);
	border: solid 2px var(--palatinate-purple);
	border-radius: 20px;
	width: 100%;
	padding: 10px 10px;
}

.close-directions:hover{
	background-color: var(--palatinate-purple);
	color: var(--fulvous);
	border: solid 2px var(--fulvous);
}

.closed{
	display: none;
	transition: 0.2s ease-in-out;
}

.game-box{
	width: 100%;
	margin: 0;
	
}

.chosen{
	transform: scale(1.8);
	transition: 0.5s ease-in-out;
	 -webkit-animation-name: thumb;
    -webkit-animation-duration: 1000ms;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite; /* The magic keyword for infinite*/
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes thumb {
    0% { -webkit-transform: rotate(3deg), transform: translate(0px, -20%); }
    50% { -webkit-transform: rotate(-3deg); }
    100% { -webkit-transform: rotate(3deg), transform: translate(0px, 20%); }

}

.hidden{
	opacity: 10%;

}

.solved{
	opacity: 0%;
	transition: 0.2s ease-in-out;
}

.top-shape-box {
	width: inherit;
	height: 22em;
	background-color: var(--middle-red);	
	/* border: solid 2px; */
	border-color: var(--jet);
	margin: 0px;

}

.top-shapes:hover{
	transform: scale(1.8);
	transition: 0.5s ease-in-out;
	 -webkit-animation-name: thumb;
    -webkit-animation-duration: 1000ms;
    /* -webkit-transform-origin:50% 50%; */
    -webkit-animation-iteration-count: infinite; /* The magic keyword for infinite*/
    -webkit-animation-timing-function: linear;
}

.empty-shapes{
	/*padding-top: 100px;*/
	width: 100%;
	height: 20em;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.empty-shapes img{
	display: flex;
	padding: 0px 20px 0px 20px;
	
}


.btm-shape-box {
	width: inherit;
	height: 22em;
	background-color: var(--burnt-sienna);	
	/* border: solid 2px; */
	border-color: var(--jet);
	margin: 0;

}

.btm-shapes{
	/*padding-top: 100px;*/
	width: 100%;
	height: 20em;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.btm:hover{
	transform: scale(1.8);
	transition: 0.5s ease-in-out;
	 -webkit-animation-name: thumb;
    -webkit-animation-duration: 1000ms;
    /* -webkit-transform-origin:50% 50%; */
    -webkit-animation-iteration-count: infinite; /* The magic keyword for infinite*/
    -webkit-animation-timing-function: linear;
}


.btm-shapes img{
	display: flex;
	padding: 0px 20px 0px 20px;
	
}

.empty-triangle{
	
}

/* --------------HTML DRAWN SHAPES------------- */
/* .emptyTriangle{
		width: 0;
		height: 0;
		border: solid 30px;
		border-color: transparent transparent black transparent;
	
} */

.services-about{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 30px; 
	padding-bottom: 20px;
	color: var(--phthalo-green)
		
}

@media screen and (max-width: 640px) {
	
	body{
		/* width: 100%; */
		/* height: auto; */
	} 

	.directions{		
		top: 25%;
		left: 7%;
		width: 20em;
		padding: 20px 10px;
	}

	.game-box{
		text-align: center;
		
	}


}
